/* Global Styles */
body {
    background-image: url(../assets/JWSTPIX.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container { 
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-container {
	position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cyno-container,
.covertcyno-container {
    flex-basis: 150px;
    margin-top: -25px;
    position: absolute;
    top: 10px;
}

.cyno-container {
    margin-right: auto; 
    left: 10px;
    }

.covertcyno-container {
    margin-left: auto;
    padding-bottom: 10px; 
    right: 10px;
}

.navigation {   
    width: 400px;
    height: 80px;
    font-size: 18px;
    background-color: #404040;
    padding: 20px;
    border: 2px solid #fefe5d;
    text-align: center; 
    position: relative;
    margin: 0 auto;
}

.navigation h3 {
    margin-top: 10px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-content: center;
    flex: 1; 
}

.navigation ul li {
    margin-right: 20px;
}

.navigation ul li:last-child {
    margin-right: 0;
    
}

.navigation ul li a {
    color: #fefe5d;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.header {
    text-align: center;
    font-size: 35px;
    padding: 20px 0;
}

.footer {
    text-align: center;
    background-color: #4c0000;
    padding: 28px 0;
    margin-top: 20px;
}

.footer p {
    font-size: 12px;
    padding: 0 50px;
}

.corp-logo {
    display: block;
    margin: 0 auto 20px;
    width: 200px;
}

.trim-box, .link-box {
    width: 550px; 
    padding: 10px;
    margin: 0 auto;
    border: 2px solid #fefe5d;
    text-align: left;
}

.trim-box {
    background-color: #4c0000;
}

.link-box {
    background-color: #576b84; 
}

.decorative-shape {
    width: 100px;
    height: 100px;
    background-color: #fefe5d;
    transform: rotate(45deg);
    position: relative;
    margin: 0 auto 20px;
}

.decorative-shape:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    transform: rotate(-45deg);
}

.centered-images {
    text-align: center;
}

.hel {
    display: inline-block;
}

.center-audio {
    text-align: center;
}
